body{
    /* background-color: cyan; */
    background-image: url('/background_2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
input{
    outline: none;
}
/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    /* -webkit-box-shadow: 0 0 0 30px white inset !important; 
    background-color: green;
} */
input:-internal-autofill-selected{
    /* background-color: green !important; */
    -webkit-text-fill-color: #333 !important;
}
/* input:-webkit-autofill ,input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #333 !important;
} */

.label{
    height: 25px;
    color: rgb(193, 172, 172);
    position: relative;
    top: -10px;
    right: 58%;
    background-color: white;
    z-index: 2;
}
.formdiv{
    display: flex;
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    height: 80%;
    box-shadow: 2px 2px 15px rgba(255, 255, 255, 0.881),inset 0px 0px 50px rgb(241, 238, 238);
    background-color:rgba(255, 255, 255, 0.1);
}
.formcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.btn{
    max-width: 100px;
    min-width: 10%;
}

.form__group{
    position: relative;
    padding: 15px 0 0;
    width: 50%;
    height: 100px;
}
.form__field{
    font-family: inherit;
    width: 100%;
    border: 0; 
    outline: 0;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    padding: 7px 0;
    font-size: 1.3rem;
}

.form__field::placeholder{
    color: transparent;
}
.form__label{
    position: relative;
    display: block;
    top: -3.7rem;
    font-size: 1rem;
    transition: 0.2s;
    color: white;
    width: 1%;
}
.form__field:placeholder-shown ~ .form__label{
    top: -2.2rem;
    font-size: 1.3rem;
    cursor: text;
}